<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตะกร้าสินค้า</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <body>
        <!-- <div class="navbar-header">
            <img src="/images/logo.png" alt="MONGCHA Logo" class="navbar-brand">
            <button id="menu-toggle" class="menu-toggle">☰</button>
            <script src="/js/script.js"></script>
        </div> -->
        <div class="content">
        <form action="/register" method="POST">
            <img class="showlogo" src="/images/logo.png" alt="">

            <input type="firstname" name="firstname" placeholder="ชื่อ" required>
            <input type="surname" name="surname" placeholder="นามสกุล" required>
            <input type="phone_num" name="phone_num" placeholder="เบอร์โทรศัพท์" required>
            <input type="username" name="username" placeholder="ชื่อผู้ใช้" required>
            <input type="password" name="password" placeholder="รหัสผ่าน" required><br>

            <button class="loginuser" type="submit">สมัคร</button>
        </form>
        <div class="registime">
            <p>มีบัญชีใช่ไหม</p>
            <button onclick="goregispage('/login')" class="regis">ลงชื่อเข้าใช้</button>
        </div>
        </div>
        <script>
            function goregispage(url) {
                window.location.href = url;
            }


            function submitForm() {
                const form = document.getElementById("userForm");
                const formData = new FormData(form);

                fetch("/regis-form", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        alert("Form submitted successfully!");
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            }

        </script>
    </body>

</html>